@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin :0;
    background-color: #210002;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .icon{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('img/0.png');
}
.banner .bg-2{
    background-image: url('img/1.png');
}
.banner .bg-3{
    background-image: url('img/2.png');
}
.banner .bg-4{
    background-image: url('img/3.png');
}
.banner .bg-5{
    background-image: url('img/4.png');
}
.banner .bg-6{
    background-image: url('img/5.png');
}
.banner .bg-7{
    background-image: url('img/6.png');
}
.banner .bg-8{
    background-image: url('img/7.png');
}
.banner .bg-9{
    background-image: url('img/8.png');
}
.banner  h1{
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 7.5rem;
    color: #fff;
}
.intro{
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.intro p{
    width: 700px;
    max-width: 100%;
    text-align: right;
    font-size: 10rem;
}
.intro button{
    background-color: #FD0003;
    padding: 10px 50px;
    border: 1px solid #591F1D;
    border-radius: 5px;
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}
.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.6s;
}
.animation-show:nth-child(4){
    transition-delay: 0.9s;
}
.library{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}
.library img{
    width: 90%;
    height: 500px;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    .banner h1{
        font-size: 5rem;
    }
    .library{
        grid-template-columns: repeat(2, 1fr);
    }
    .library img{
        height: 300px;
    }
}

.container{
    max-width: 1170px;
    margin: auto;
}

.footer{
    background: linear-gradient(#210002, orange);
    padding: 70px 0;
    position: relative;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    list-style: none;

}
li 
{
    list-style: none;
}
ul{
    list-style-type: none;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* Transition Animation */
.contenitore{
    height:100%
  }
  .videofullscreen{
    position:absolute;
    overflow: hidden;
    width:100% !important;
    height:100% !important;
    object-fit: cover;
    z-index: -100;
    background-color: rgb(20, 20, 20);
  }
  .titolo{
    position: absolute;
    color:#FFFFFF;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border:10px solid;
    border-radius: 25px;
    padding:20px;
  }

.Transition{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.Transition-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #359381;
}

.Transition-Animation{
    position: relative;
    display: inline-block;
    bottom:-20px;
    font-size: 20px;
    animation-delay: 1s;
    opacity: 0;
}

.Transition-Animation.active{
    left: 0;
    opacity: 1;
    font-size: 90px;
    transition: ease-in-out 0.5s;
}

.Transition-Animation.fade{
    left: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

#title_news{
    font-size: 4rem;
    border-bottom: solid  #810709;
}



@media only screen and (max-width: 1500px) {
    header {
        padding: 20px 50px;
    }

    header .icon {
        font-size: 2em;
    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

}

a {
	text-decoration: none;
}



